body {
    font-family: Raleway,Arial,sans-serif!important;
	font-size: 0.8em;
    margin: 0;
	font-weight: 400!important;
    letter-spacing: .2em!important;
    line-height: 1.45!important;
}

.menu ul {
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #082F77;

	}
	
	
		.menulate a:hover {
		background-color: #1381B4;
	}
	
#logo{
	width: 10%;
    margin: 5px 5px ;
}


.menu-lateral {
			text-decoration: none;

	margin-top: 0px;
    background: #082F77;
    height: 600px;
    padding: 0 2px;
    width: 280px;
  }
  
  
.menu-titulo {
	text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
	}
	
.menulate {
	text-decoration: none;
    float: none;
    position: relative;
	}
   
.menulate li > a {
	display: block;
		text-decoration: none;
	    border-bottom: 2px solid white;
        color: white;
        display: inline-block;
        font-size: 16px;
        line-height: 35px;
        padding: 10px 0;
        position: relative;
		width:200;
       
		}

table {
	margin-top: -600px;
	margin-left: 26%;
	border-collapse: collapse;
	border-spacing: 0;
	width: 60%;
	border: 2px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
 
}
td {
	 background-color: #B3B6B7;
}

.tr1{
  background-color: grey;
}

.tr2{
  background-color:  #1381B4;
  font-size: 20px;
}

